<div class="container-fluid">
    <form>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-5">
                <div class="card bg-secondary">
                    <div class="card-body p-5">
                        <div class="row" >
                            <div class="col-12 text-center">
                                <h1>Students Form</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Student Name:</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="name" placeholder="Enter Name">
                                  </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Department:</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="department" placeholder="Enter the Department">
                                </div>
                            </div> 
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email Address:</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="name@example.com">
                                  </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">College Name:</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="college" placeholder="Enter the College">
                                </div>
                            </div>   
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Education Year:</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"  formControlName="year" placeholder="Enter the Year">
                                </div>
                            </div>                                     
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center py-4">
                                <button type="text" class="btn btn-success">save</button>
                            </div>
                        </div>
                    </div>                       
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>




