.container-fluid{
    // background-color: #8fb56f;
    background-size: 100% 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/stu-bg.avif");
  }
h4{
    color: black;
    font-weight: bold;
  }
  
  .error-text {
    font-size: 17px;
    color: rgb(185, 6, 6);
    font-family: 'Times New Roman', Times, serif;
  }
  .card{
    background-color: rgb(216, 216, 186);
  }
