<div class="container-fluid">
    <div class="row justify-content-center align-items-center h-75">    
        <div class="col-md-10"> 
            <div class="row">
                <div class="col-md-12">
                    <h4>College Students Details</h4>
                </div>                                                                                               
            </div>
            <div class="row ">
                <div class="col-md-12 mt-5">
                    <div class="table-responsive"> 
                        <table class="table"> 
                            <thead class="head text-center">
                                <tr>
                                    <th>No</th>
                                    <th>Students Name</th>
                                    <th>Department</th>
                                    <th>E-Mail</th>
                                    <th>College Name</th>
                                    <th>Education Year</th>
                                    <th>For Details</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let list of student let i =index" >
                                    <td>{{i+1}}</td>
                                    <td>{{list.name}}</td>
                                    <td>{{list.department}}</td>
                                    <td>{{list.email}}</td>
                                    <td>{{list.college}}</td>
                                    <td>{{list.year}}</td>
                                    <td>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-primary" (click)="getEvent()">Click Here</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-success" (click)="adddetails()">Add Details</button>
                    </div>        
                </div>
            </div>
        </div>           
    </div>   
</div>

<ngx-spinner type="ball-clip-rotate">
    <div class="custom-loader"></div>
</ngx-spinner>
