<form>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-4">
                <div class="card bg-secondary">
                    <div class="card-body p-5">
                        <div class="row" >
                            <div class="col-12 text-center">
                                <h1>login</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                  </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter the password">
                                </div>
                            </div>                                 
                        </div>
                        <div class="row">
                            <div class="col-12 text-center py-4">
                                <button type="text" class="btn btn-success px-3 w-100">save</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center ">
                                <a (click)="register()">new register</a>
                            </div>
                        </div>
                    </div>                       
                </div>
            </div>
        </div>   
    </div>
</form>




