<div class="container-fluid">
    <form>
        <div class="container">
            <div class="row">
                <div class="card bg-secondary mt-5">
                        <div class="card-body ">
                            <div class="row" >
                                <div class="col-md-12 mb-3 text-center">
                                    <h1>login</h1>                                                      
                                </div>
                                <div class="col-md-12 mt-3">                                    
                                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">                                     
                                </div>
                                <div class="col-md-12 mt-3">                               
                                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter the password">                                    
                                </div>  
                            </div>                                                           
                            <div class="row mt-4">
                                <div class="col-md-12 text-center py-4">
                                    <button type="text" class="btn btn-success px-3 w-100">save</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center text-primary ">
                                    <a (click)="register()"><strong> New Register</strong> </a>
                                </div>
                            </div>
                        </div>                       
                </div>            
            </div> 
        </div>
       
    </form>   
</div>





