.container-fluid {
    height: 100vh;
    background: url('../../../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.error-text {
    font-size: 17px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.fas{
    font-size: 25px;
}