.container-fluid {
    height: 100vh;
    background: url('../../../assets/images/img.avif');
    background-repeat: no-repeat;
    background-size: cover; 
    align-items: center;
    min-height: auto;
    background: rgba(0, 0, 0, 0.5);
    // backdrop-filter: blur(10px);
    // filter: blur(5px);
    // filter: grayscale(100%) contrast(70%) brightness(90%);

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text {
    font-size: 17px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.fas{
    font-size: 25px;
}

.card {
    background: transparent;
    border: none;
    // backdrop-filter: blur(10px);
    color: blanchedalmond;
    border: 2px solid rgba(255,255,255,.2);
}

